name: fastib2pci
on:
  push:
    branches:
      - main
jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - name: checkout ee
        run: git clone https://github.com/DIPFtba/ee4pci.git ./ee
        
      - name: checkout pages
        uses: actions/checkout@v3
        with: 
            ref: 'gh-pages'
            path: 'public'
            
      - name: checkout items
        uses: actions/checkout@v3
        with: 
            path: 'items'       
            
      - name: install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '16.10.0'
          
      - name: setup & build
        run: |
           rm -r ./ee/ee/public/items/*
           cp -a ./items/items/. ./ee/ee/public/items/ &&
           echo `ls ./ee/ee/public/items/` && echo `ls ./items/items/` 
           npm install --prefix ./ee/ee 
        
      - name: copy  
        run: cp -a ./ee/ee/build/. ./public/docs/ &&
             echo `ls ./ee/ee/build` && echo `ls ./public/docs`
        
      - name: Deploy
        uses: s0/git-publish-subdir-action@develop
        env:
            REPO: self
            BRANCH: gh-pages
            FOLDER: public
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
      
